<div class=" h-100">
  <nav class="w-100 p-3 navbar navbar-light bg-primary">
    <a class="navbar-brand" style="color: white;" href="#">
      Supermercado Pinheiro
    </a>
  </nav>
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-12 ">
      <!-- Form -->
      <form class=" col-md-9 col-md-offset-9 align-middle myconf mx-auto align-middle col-9 clear-top">
        <div class="form-group">
          <label for="exampleInputEmail1">Usuário</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu email">
          <small id="emailHelp" class="form-text text-muted">Não compartilhe seu usuário com ninguém</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Senha</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha aqui">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Lembrar minha senha</label>
        </div>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
  <!-- Footer -->
  <footer style="height: 10%" class="mw-100 page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 bg-primary">
      <p style="font-size: 11px; color: white;">
        Copyright © Pinheiro Supermercado, Todos os Direitos Reservados.<br>
        Bom Vizinho Distribuidora de Alimentos Ltda. – Matriz – CNPJ: 04.163.766/0001-48
      </p>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>